<ng-container *ngIf="headers.length > 0">
  <table>
    <thead>
      <tr>
        @for (header of headers; track header) {
          <th>{{ header }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of rows; track row.id) { 
        <tr>
          @for (header of headers; track header) {
            <td>{{ row[headers.indexOf(header)] }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</ng-container>
<ng-template #noData>
  <p>No data available.</p>
</ng-template>
